/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------------------------------------------------*/


body {
	padding: 30px;
}
.block {
	border: 1px solid red;
	max-width: 800px;
	margin: 0 auto;				/*заставляет выстроиться по центру браузера*/
	height: 1600px;
	position: relative;			/*Нужно добавить, чтобы блок2 позицирнировался относительно блока */
}
.block div {
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}
.block__1 {
	background-color: #ece89d;
}
.block__2 {
	background-color: #5e5373;
	/* position: relative;			
	left: 50px;
	top: 60px;
	z-index: 0; */						/*z-index если больше, то перекрывает блок с меньшим значением*/

	/* position: absolute;			absolute - абсолютный к окну, чтобы к родителю был, нужно поставить у род блока relative
	top: 0;
	left: 0;							
	width: 100%; */	

	/* position: fixed;            fixed - фиксируется с браузером*/
	position: sticky;
	top: 0;
	z-index: 1;
}
.block__3 {
	background-color: #18b5a4;
	position: relative;
}
.list {
	font-size: 18px;
}
.list li {
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
}
.list li::before {
	content: '';
	background: url(../img/li.svg) 0 0 no-repeat;
	position: absolute;
	top: 4px;
	left: 0;
	width: 20px;
	height: 20px;
}