/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------------------------------------------------*/

.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;   /*устанавливает семейство шрифта*/
}

.fontsize30 {
	font-size: 30px;																/*определяет размер шрифта*/
}

.italic {
	font-style: italic;															/*определяет начертание шрифта*/
}

.font700 {
	font-weight: 700;																/*определяет жирность текста*/
}

.color {
	color: #ff0000
}

.textright {
	text-align: right;															/*Выравнивание текста по сторонам*/
}

.decoration {
	text-decoration: line-through;											/*подчеркивание/перечеркивание текста*/
}

.transformtext {
	text-transform: capitalize;												/*заглавные или прописные символы*/
}

.ident {
	text-indent: 50px;															/*отступ от левого края*/
}

.lspace {
	letter-spacing: 5px;															/*определяет интервал между символами*/
}

.wspace {
	word-spacing: 5px;															/*определяет интервал между словами*/
}

.lheight {
	line-height: 20px;															/*устанавливает межстрочный интервал текста*/
}

.example-block {
	padding: 10px 20px 30px 40px;												/*Отступ внутри блока*/
	margin: 10px 20px 30px 40px;												/*Отступ снаружи блока (внешний отступ блочных тегов)*/
	width: 500px;																	/*Ширина блока*/
	/*max-width: 1000px;*/														/*Ограничивает максимальную ширину блока*/	
	/*min-width: 20%;*/															/*Минимальная ширина*/
	height: 200px;																	/*Высота блока*/
	overflow: auto;																/*Управляет отображением содержимого блока*/

	border: 2px solid #000000
}
.example-string {
	display: block;
	padding: 20px;
	border: 2px solid #000000;
}